ion-card{
    background-color: #ffffff;
    border-radius: 20px;
}
ion-icon{
    font-size:35px;
    color: #006633;
  }
  ion-text{
    text-transform: capitalize;
    font-size: 17px;
    font-weight: 500;
  }
  h1{
    margin-top: 10px;
    font-family: Quicksand;
  }
  .status{
    font-weight: 600;
    font-size: 18px;
  }
  .pris{
    font-weight: 600;
    font-size: 20px;
    color:#006633
  }
  .aktiv{
    background-color: #006633; /* Green */
    border: solid;
    color: white;
    padding: 7px 15px;
    text-align: center;
    display: inline-block;
    border-radius: 100px;
    font-weight: 600;
    font-size: 12px;
  }
  .pause{
    background-color: red; /* Green */
    border: solid;
    color: white;
    padding: 7px 15px;
    text-align: center;
    display: inline-block;
    border-radius: 100px;
    font-weight: 600;
    font-size: 12px;
  }
  ion-card-content{
    padding: 5px
  }
ion-button{
    --border-radius: 100px;
    --padding-top:0px;
    --padding-bottom:0px;
    font-size: 12px;
}
.total{
    font-weight: 600;
}
ion-card-header{
    text-align: center;
}
.kort{
    text-align: center;
}
.spin {
    text-align: center;
    margin-top:100px;
}
  ion-spinner {
    transform: scale(3);
    stroke: #fff;
    fill: #fff;
  }