<ion-header>
  <ion-toolbar color="light">
    <ion-title color="primary">Måltidskasse</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div class="spin" *ngIf="!details">
    <ion-spinner color="light" name="crescent"></ion-spinner>
  </div>
  <div class="loadbar" *ngIf="load">
    <ion-spinner color="light" name="crescent"></ion-spinner>
    <ion-text color="light">  {{ load }}</ion-text>
    
  </div>
<ion-card *ngIf="details" color="light">
  <ion-card-content>
  <ion-grid style="text-align: center;">
    <ion-row>
      <ion-col>
        <ion-text class="aktiv" *ngIf="details.status==='active'">Aktiv</ion-text>
        <ion-text class="pause" *ngIf="details.status==='on-hold'">På Pause</ion-text>
        <ion-text class="annulleret" *ngIf="details.status==='cancelled'">Afmeldt</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-icon name="home"></ion-icon>
        <br>
        <ion-text>{{details.shipping.first_name}} {{details.shipping.last_name}}</ion-text>
        <br>
        <ion-text>{{details.shipping.address_1}} {{details.shipping.address_2}}</ion-text>
        <br>
        <ion-text>{{details.shipping.postcode}} {{details.shipping.city}}</ion-text>
        <br>
        <ion-text></ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-icon name="calendar"></ion-icon>
        <br>
        <ion-text *ngIf="details.billing_interval==='1'">Hver Uge</ion-text>
        <ion-text *ngIf="details.billing_interval==='2'">Hver 2. Uge</ion-text>
        <ion-text *ngIf="details.billing_interval==='4'">Hver 4. Uge</ion-text>
        <br>
        <ion-button (click)="frek()">Ændre frekvens</ion-button>
      </ion-col>
      <ion-col>
        <ion-icon src="/assets/icon/shipping.svg"></ion-icon>
        <br>
        <ion-text>  {{ addDays(details.next_payment_date, 4) | date:'EEEE \'d\' d MMMM'}} </ion-text>
        <br>
        <ion-button  (click)="skip()">Spring Over</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-icon name="restaurant"></ion-icon>
        <br>
        <ion-text>{{details.line_items.length}}</ion-text>
      </ion-col>
      <ion-col>
        <ion-icon name="card"></ion-icon>
        <br>
        <ion-text>{{ details.next_payment_date | date:'EEEE \'d\' d MMMM'}} </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
    
  </ion-card-content>
</ion-card>
  <ion-card *ngIf="details">
    <ion-card-header>
      <ion-card-subtitle color="primary">
          Indhold
      </ion-card-subtitle>
    </ion-card-header>
  <ion-grid class="kort" >
    <ion-row *ngFor="let item of details.line_items">
      <ion-col size="2">
        <ion-button color="tertiary" size="small" (click)="removeprod(item.id)">X</ion-button>
      </ion-col>
      <ion-col size="6">
        {{ item.name }}
      </ion-col>
      <ion-col size="2">
        {{ item.quantity }}
      </ion-col>
      <ion-col size="2">
        <ion-text class="total">  {{ addNumbers(item.total, item.total_tax) | number}},- </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
  <ion-card-subtitle color="primary">
    Levering
</ion-card-subtitle>
</ion-col>
</ion-row>
<ion-row>
  <ion-col size="10">
    {{ details.shipping_lines[0].method_title}}
  </ion-col>
  <ion-col size="2">
    <ion-text class="pris">  {{ addNumbers(details.shipping_total, details.shipping_tax) | number}},- </ion-text>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
<ion-card-subtitle color="primary">
Total
</ion-card-subtitle>
</ion-col>
</ion-row>
<ion-row>
  <ion-col>
<ion-card-subtitle color="primary" class="pris">
{{details.total}}
</ion-card-subtitle>
</ion-col>
</ion-row>
  </ion-grid>
  <ion-button expand="block" (click)="presentModal()">Tilføj</ion-button>
</ion-card>
  <ion-button expand="block" color="light" *ngIf="details?.status==='active'"  (click)="pause()">Sæt på pause</ion-button>
  <ion-button expand="block" color="light" *ngIf="details?.status==='on-hold'"  (click)="pause()">Aktiver</ion-button>
  <div *ngIf="details">
  <ion-button expand="block" color="tertiary" *ngIf="details?.status!='cancelled'"  (click)="afmeld()">Afmeld</ion-button>
</div>
  <ion-button expand="block" color="light" *ngIf="details?.status==='cancelled'"  (click)="afmeld()">Genaktivér</ion-button>
</ion-content>