.deadlinenotice {
  display: grid;
  grid-template-columns: 15% 40% 45%;
  text-align: left;
  font-family: Quicksand, sans-serif;
  background-color: #ffe5c7;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  color: #9b5400;
  align-items: center;
  justify-items: center;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1), 0px 1px 10px rgba(0, 0, 0, 0.12),
    0px 2px 4px rgba(0, 0, 0, 0.2);
}
.tid {
  display: grid;
  font-size: 12px;
  margin-bottom: 0;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 12px;
  color: rgb(129, 4, 0);
  text-align: center;
  row-gap: 5px;
}