<ion-header>
  <ion-toolbar color="light">
    <ion-title color="primary">Historik</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div class="spin" *ngIf="!orders">
    <ion-spinner color="primary" name="crescent"></ion-spinner>
  </div>
  <ion-item *ngFor="let order of orders" button [routerLink]="['/', 'tabs','tab2', order.id]">
    <ion-icon slot="start" name="cube"></ion-icon>
      <ion-label>
        {{ order.date_created | date:'EEEE \'d\' d MMMM'}}
      </ion-label>
  </ion-item>
</ion-content>