.spin {
    text-align: center;
    margin-top:100px;
}
  ion-spinner {
    transform: scale(3);
    stroke: #fff;
    fill: #fff;
  }
#header_logo{
text-align: center;
margin-top: 10px;
  }
  ion-text{
    text-align: center;
}
ion-icon{
  font-size:35px;
}
ion-card{
  border-radius: 20px;
  border-width: 1px;
  border-color: rgb(116, 116, 116);
  background-color: rgb(250, 250, 250);
  margin: 10px 0; 
}
ion-text{
  font-size: 17px;
  font-weight: 500;
}
h1, h2{
  margin-top: 10px;
  font-family: Quicksand;
  font-weight: 600;
}
.status{
  font-weight: 600;
  font-size: 18px;
}
.pris{
  font-weight: 600;
  font-size: 20px;
  color:#006633
}
.aktiv{
  text-align: center;
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  justify-self: start;
  align-self:center; 
}
.pause{
  text-align: center;
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  justify-self: start;
  align-self:center; 
}
.annulleret{
  text-align: center;
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  justify-self: start;
  align-self:center; 
}
ion-card-content{
  padding: 5px
}
.fifty{
  width: 100%;
  height: 45px; 
  display: block;
  justify-self: center;
  align-self: center;
  font-size: 12px;
}
.notice{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width:100%;
  margin: 5px 0; 
  padding: 10px; 
  background-color: lightgrey;
  border-radius: 10px; 
}
.dot ion-icon{
  font-size: 24px;
  align-self: center;
  justify-self: end;
  padding-right: 5px;
}
.dot{
  display: grid; 
  grid-template-columns: 1fr 1fr
}
.active{
  color:rgb(56, 233, 56)
}
.hold{
  color:rgb(126, 134, 14)
}
.oversigt{
  display: grid; 
  grid-template-columns: 20% 70% 10%;
}
.oversigt div{
  align-self:center;
}
.oversigt #cube{
  font-size:48px;
  position: relative; 
}
#antal{
  border-radius: 100px;
  background-color: lightgrey;
  color: white;
  position: absolute;
  left: 10px;
  top:0;
  padding: 1px 4px; 
}
.nlevering{
  font-size: 12px;
  justify-self:start;
  align-self:center;
}
.ldato{
  font-size:16px;
  font-weight: bold;
}
.grid2{
  display: grid; 
  grid-template-columns: 38% 62%;
}
.grid2 ion-icon{
  align-self: center;
  justify-self: end;
  padding-right: 5px;
}