<ion-content class="background">
  <ion-text color="light">
    <h1>Dine Måltidskasser</h1>
  </ion-text>
<div class="spin" *ngIf="!information">
  <ion-spinner name="circles"></ion-spinner>
</div>
  <ion-card button *ngFor="let user of information"[routerLink]="['/', 'tabs','tab1', user.id]" color="light">
    <ion-card-content>
    <ion-grid style="text-align: center;">
      <ion-row>
        <ion-col>
          <ion-text *ngIf="user?.status==='active'">Aktiv</ion-text>
          <ion-text *ngIf="user?.status==='on-hold'">På Pause</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-icon name="calendar"></ion-icon>
          <br>
          <ion-text *ngIf="user?.billing_interval==='1'">Hver Uge</ion-text>
          <ion-text *ngIf="user?.billing_interval==='2'">Hver 2. Uge</ion-text>
          <ion-text *ngIf="user?.billing_interval==='4'">Hver 4. Uge</ion-text>
        </ion-col>
        <ion-col>
          <ion-icon src="/assets/icon/shipping.svg"></ion-icon>
          <br>
          <ion-text>  {{ addDays(user.next_payment_date) | date:'EEEE \'d\' d MMMM'}} </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-icon name="restaurant"></ion-icon>
          <br>
          <ion-text>{{user?.line_items.length}}</ion-text>
        </ion-col>
        <ion-col>
          <ion-icon name="card"></ion-icon>
          <br>
          <ion-text>{{ user.next_payment_date | date:'EEEE \'d\' d MMMM'}} </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
      
    </ion-card-content>
  </ion-card>
  
  <ion-button expand="block" (click)="console()">Console Log</ion-button>
</ion-content>