<ion-header>
  <ion-toolbar color="light">
    <ion-title color="primary">Dine Måltidskasser</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="info()">
        <ion-icon slot="icon-only" name="help"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="auth()">
        <ion-icon slot="icon-only" name="reload"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
<app-count-down></app-count-down>
<div class="spin" *ngIf="!information">
  <ion-spinner color="light" name="crescent"></ion-spinner>
</div>
<h2>Måltidskasser</h2>
  <ion-card button *ngFor="let user of information"[routerLink]="['/', 'tabs','tab1', user.id]" color="light">
    <ion-card-content>
    <ion-grid style="text-align: center;">
      <ion-row>
        <ion-col class="dot">
          <ion-icon class="active" name="chevron-forward-circle" *ngIf="user?.status==='active'"></ion-icon>
          <ion-text class="aktiv" *ngIf="user?.status==='active'">Aktiv</ion-text>
          <ion-icon class="hold" name="chevron-down-circle" *ngIf="user?.status==='on-hold'"></ion-icon>
          <ion-text class="pause" *ngIf="user?.status==='on-hold'">På Pause</ion-text>
          <ion-icon color="tertiary" name="close-circle" *ngIf="user?.status==='cancelled'"></ion-icon>
          <ion-text class="annulleret" *ngIf="user?.status==='cancelled'">Afmeldt</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="oversigt">
          <div>
            <ion-icon id="cube" name="cube"></ion-icon>
            <span id="antal"><ion-text>{{user?.line_items.length}}</ion-text></span>
          </div>
          <div>
            <div class="grid2">
              <ion-icon size="small" src="/assets/icon/shipping.svg"></ion-icon>
              <ion-text class="nlevering">Næste levering</ion-text>
            </div>
            <ion-text class="ldato" *ngIf="user?.status==='active'">{{ addDays(user.next_payment_date) | date:'EEEE \'d\' d MMMM'}} </ion-text>
            <ion-text class="ldato" *ngIf="user?.status==='on-hold'">{{ addDays(user.next_payment_date) | date:'EEEE \'d\' d MMMM'}} </ion-text>
            <ion-text class="ldato" *ngIf="user?.status==='cancelled'">Afmeldt</ion-text>
          </div>
         <div>
          <ion-icon size="small" name="chevron-forward"></ion-icon>
         </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>