<ion-header>
  <ion-toolbar color="light">
    <ion-title color="primary">Din Profil</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="spin" *ngIf="!kunde">
    <ion-spinner color="light" name="crescent"></ion-spinner>
  </div>
  <ion-text *ngIf="kunde" color="light">
    <br>
    Velkommen {{kunde.customer.first_name}}
  </ion-text>
  <ion-card *ngIf="kunde">
    <ion-card-content >
      <ion-icon size="large" color="primary" name="home"></ion-icon>
      <p id="adresse">
        {{kunde.customer.first_name}} {{kunde.customer.last_name}}
        <br>
        {{kunde.customer.billing_address.address_1}} {{kunde.customer.billing_address.address_2}}
        <br>
        {{kunde.customer.billing_address.postcode}} {{kunde.customer.billing_address.city}}
      </p>
      <ion-icon size="large" color="primary" name="mail"></ion-icon>
      <p id="adresse">
        {{kunde.customer.email}}
      </p>
      <ion-icon size="large" color="primary" name="call"></ion-icon>
      <p id="adresse">
        {{kunde.customer.billing_address.phone}}
      </p>
    </ion-card-content>
  </ion-card>
  <ion-button color="tertiary" expand="block" (click)="logout()">Log Ud</ion-button>
</ion-content>