ion-text{
    text-align: center;
}
ion-card-header{
    text-align:center;
}

ion-button{
    --border-radius:100px;
    margin:10px;
}
ion-icon{
    margin:10px;
}
#adresse{
    text-align: center;
    font-size: 20px;
}
.card{
    border-radius:10px; 
    border-color: #006633;
    border-width: 2px;
    text-align: center;
}