<ion-content>
  <ion-text color="primary">
    <h1>DIN PROFIL</h1>
  </ion-text>
  <ion-text *ngIf="kunde" color="primary">
    <h2>Velkommen {{kunde.customer.first_name}}</h2>
  </ion-text>
  <ion-card class="card" *ngIf="kunde">
    <ion-card-content >
      <ion-icon size="large" color="primary" name="home"></ion-icon>
      <p id="adresse">
        {{kunde.customer.first_name}} {{kunde.customer.last_name}}
        <br>
        {{kunde.customer.billing_address.address_1}} {{kunde.customer.billing_address.address_2}}
        <br>
        {{kunde.customer.billing_address.postcode}} {{kunde.customer.billing_address.city}}
      </p>
      <ion-icon size="large" color="primary" name="mail"></ion-icon>
      <p id="adresse">
        {{kunde.customer.email}}
      </p>
      <ion-icon size="large" color="primary" name="call"></ion-icon>
      <p id="adresse">
        {{kunde.customer.billing_address.phone}}
      </p>
    </ion-card-content>
  </ion-card>
  <ion-button expand="block" (click)="logout()">Log Ud</ion-button>
  <ion-button expand="block" (click)="console()">Console Log</ion-button>
</ion-content>