<ion-header>
  <ion-toolbar color="light">
    <ion-title color="primary">Din Profil</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="spin" *ngIf="!kunde">
    <ion-spinner color="primary" name="crescent"></ion-spinner>
  </div>
  <h3 class="ion-text-center" *ngIf="kunde">
    Velkommen {{kunde.customer.first_name}}
  </h3>
  <ion-card *ngIf="kunde">
    <ion-card-content >
      <p class="contentheading">Email<ion-icon button (click)="kundeEmail()" class="edit" size="small" name="pencil"></ion-icon></p>
      <p>{{kunde.customer.email}}</p>
      <p class="contentheading">Telefon<ion-icon button (click)="kundeTelefon()" class="edit" size="small" name="pencil"></ion-icon></p>
      <p>{{kunde.customer.billing_address.phone}}</p>
      <p class="contentheading">Kontoadresse<ion-icon button (click)="kundeAdresse(kunde.customer.id)" class="edit" size="small" name="pencil"></ion-icon></p>
      <div class="adresselabel">
        Navn
      </div>
      <div class="adressevalue">
        {{kunde.customer.first_name}} {{kunde.customer.last_name}}
      </div>
      <hr>
      <div class="adresselabel">
        Adresse
      </div>
      <div class="adressevalue">
        {{kunde.customer.billing_address.address_1}} {{kunde.customer.billing_address.address_2}}
      </div>
      <hr>
      <div class="adresselabel">
        Postnr. og by
      </div>
      <div class="adressevalue">
        {{kunde.customer.billing_address.postcode}} {{kunde.customer.billing_address.city}}
      </div>
      <br>
    </ion-card-content>
  </ion-card>
  <ion-button color="tertiary" expand="block" (click)="logout()">Log ud</ion-button>
</ion-content>