.side{
    width:45vw;
    display: inline-block;
    vertical-align: top;
    margin: 1vw;
}
.spin {
    text-align: center;
    height:100px;
    margin-top:50px;
}
  ion-spinner {
    transform: scale(3);
    stroke: #063;
    fill: #063;
  }
  .produkt{
      font-size: 16px;
  }
  ion-card{
      --background: #fff;
  }
  ion-content{
      text-align: center;
  }
  .picker-wrapper{
    --background:#fff;
  }
.picker-toolbar{
  background-color:#fff;
}
ion-item{
  --detail-icon-color: #fff;
}