<ion-header>
  <ion-toolbar color="light">
    <ion-title color="primary">Produkter</ion-title>
  </ion-toolbar>
</ion-header>
<div class="spin" *ngIf="!hovedretter">
  <ion-spinner color="primary" name="crescent"></ion-spinner>
</div>
<ion-content>
<div *ngIf="hovedretter">
<ion-item button (click)="hideHoved()">
  <ion-label color="primary">Hoved/Frokostretter</ion-label>
</ion-item>
<div *ngIf="hideMeHoved">
<span class="side" *ngFor="let prod of hovedretter">
  <ion-card button (click)="openPicker(prod.id)" class="side" *ngIf="(prod.catalog_visibility == 'visible')">
    <img class="prodimg" src={{prod.images[0].src}} />
    <ion-card-header>
        <ion-card-title >
         <ion-text class="produkt"> {{prod.name}} </ion-text>
        </ion-card-title>
      </ion-card-header>
    <ion-card-content>
      {{ prod.price }},-
    </ion-card-content>
  </ion-card>
</span>
</div>
<ion-item button (click)="hideSnacks()">
  <ion-label color="primary">Pålæg/Snacks/Tilbehør</ion-label>
</ion-item>
<div *ngIf="hideMeSnacks">
<span  *ngFor="let prod of snacks">
  <ion-card button (click)="openPicker(prod.id)" class="side" *ngIf="(prod.catalog_visibility == 'visible')">
    <img class="prodimg" src={{prod.images[0].src}} />
    <ion-card-header>
        <ion-card-title >
         <ion-text class="produkt"> {{prod.name}} </ion-text>
        </ion-card-title>
      </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>
</span>
</div>
<ion-item button (click)="hideDrikkevarer()">
  <ion-label color="primary">Drikkevarer</ion-label>
</ion-item>
<div *ngIf="hideMeDrikkevarer">
  <span  *ngFor="let prod of drikkevarer">
    <ion-card button (click)="openPicker(prod.id)" class="side" *ngIf="(prod.catalog_visibility == 'visible')">
      <img class="prodimg" src={{prod.images[0].src}} />
      <ion-card-header>
          <ion-card-title >
           <ion-text class="produkt"> {{prod.name}} </ion-text>
          </ion-card-title>
        </ion-card-header>
      <ion-card-content>
      </ion-card-content>
    </ion-card>
  </span>
  </div>
</div>
</ion-content>
