<ion-content>
  <ion-slides pager="true">
 
    <!-- Slide 1 -->
    <ion-slide>
      <ion-text color="light">
        <img src="assets/images/LogoHvid.png">
        <h1>Godt at se dig!</h1>
        <p>Velkommen til Gaia's Grønne Univers...</p>
        <ion-button (click)="next()" fill="outline" color="light">Next</ion-button>
      </ion-text>
    </ion-slide>
 
    <!-- Slide 2 -->
    <ion-slide>
      <ion-text color="light">
        <ion-icon size="large" name="globe"></ion-icon>
        <h1>En grønnere fremtid!</h1>
        <p>... vi hjælper dig med at hjælpe os med at skabe en grønnere fremtid!</p>
        <ion-button (click)="start()" fill="outline" color="light">Start</ion-button>
      </ion-text>
    </ion-slide>
 
  </ion-slides>
</ion-content>