<ion-header>
  <ion-toolbar color="primary">
    <ion-title color="light">Sådan gør du</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="infoheading">Handlinger</p>
  <p class="infocontent">
    Her kan du springe leveringer over, sætte din måltidskasse på pause, genaktivere og afmelde helt.
  </p>
  <p class="infoheading">Måltidskassen</p>
  <p class="infocontent">
    Ved at klikke på "Måltidskassen" får du mulighed for at fjerne og tilføje produkter, så du kan sammensætte lige præcis den måltidskasse du ønsker
  </p>
  <p class="infoheading">Levering</p>
  <p class="infocontent">
    Ved at trykke på "Næste kasse" får du mulighed for at ændre hvor ofte du får leveret, din adresse og tilføje/ændre leveringsnote.
  </p>
  <p class="infoheading">Andet</p>
  <p class="infocontent">
    Ønsker du at fremrykke din levering eller ændre noget som du ikke kan her, kan du kontakte os på kontakt@hololifoods.dk.
  </p>
</ion-content>
