<ion-header>
  <ion-toolbar color="primary">
    <ion-title color="light">Hjælp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="text-align: center;">
    <ion-row>
      <ion-col>
        <ion-icon name="calendar"></ion-icon>
        <br>
        <ion-text class="overskrift">Frekvens</ion-text>
      </ion-col>
      <ion-col>
        <ion-icon src="/assets/icon/shipping.svg"></ion-icon>
        <br>
        <ion-text class="overskrift">Næste Levering</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-icon name="restaurant"></ion-icon>
        <br>
        <ion-text class="overskrift">Antal</ion-text>
      </ion-col>
      <ion-col>
        <ion-icon name="card"></ion-icon>
        <br>
        <ion-text class="overskrift">Næste Betaling</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Tryk på en måltidskasse for at få mere information og foretage ændringer. 
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
